/Answers/Lab 2/Question 1/nbproject/private/
/Answers/Lab 2/Question 1/build/
/Answers/Lab 2/Question 3/nbproject/private/
/Answers/Lab 2/Question 3/build/
/Answers/Lab 2/Question 2/nbproject/private/
/Answers/Lab 2/Question 2/build/
/Answers/Lab 3/Question 3/nbproject/private/
/Answers/Lab 3/Question 3/build/
/Answers/Lab 3/Question 2/nbproject/private/
/Answers/Lab 3/Question 1/nbproject/private/
/Answers/Lab 3/Question 1/build/
/Answers/Lab 3/Question 2/build/
/Answers/Lab 4/Question 1/nbproject/private/
/Answers/Lab 4/Question 1/build/
/Answers/Lab 4/Question 2/nbproject/private/
/Answers/Lab 4/Question 2/build/
/Answers/Lab 4/Question 3/nbproject/private/
/Answers/Lab 4/Question 3/build/
/Answers/Lab 4/Question 4/nbproject/private/